name: Test Build
on:
  push:
  pull_request:

jobs:
  test_build:
    name: Test Build
    runs-on: ubuntu-latest
    container:
      image: 'devkitpro/devkitarm'

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Configure
        run: cmake -S . -B build
        
      - name: Build
        run: cmake --build build -j $(nproc)